@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
  padding: 40px;
  margin: auto;
  background: #da4453; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #89216b,
    #da4453
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
p {
  font-family: "Indie Flower", cursive;
}

h1 {
  padding: 20px;
}
